#body-mediano{
    height: 90%;
    width: 90%;
    background-image: url("../Images/Otros/under-construction-2891888_640.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.contenedor{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-size: 100% 95%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}


.background-default{
    background-image:  url("../Images/backgrounds/background.jpg");
}

body{
    background: #808080;
}

.background-naranja{
    background-image: url("../Images/backgrounds/naranja.jpg");
}.background-naranja1{
    background-image: url("../Images/backgrounds/naranja1.jpg");
}

.background-rojo{
    background-image: url("../Images/backgrounds/rojo.jpg");
}
.background-rojo1{
    background-image: url("../Images/backgrounds/rojo1.jpg");
}

.background-rosa{
    background-image: url("../Images/backgrounds/rosa.jpg");
    left:-1px;
}

.background-rosa1{
    background-image: url("../Images/backgrounds/rosa1.jpg");
    left:-1px;
}

.background-azul{
    background-image: url("../Images/backgrounds/azul.jpg");
}
.background-azul1{
    background-image: url("../Images/backgrounds/azul1.jpg");
}

.background-verde{
    background-image: url("../Images/backgrounds/verde.jpg");
}
.background-verde1{
    background-image: url("../Images/backgrounds/verde1.jpg");
}


#preloader{
    position: absolute;
    top: 45%;
    left: 50%;
}

footer{
    background-color: #808080;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    float: bottom;
}

#header{
    position: relative;
    top: 0px;
    right: 3px;
    background-color: #808080;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}



#logo{
    position: absolute;
    top: 15%;/* 115 px*/
    left: 5.5%;/* 75 px*/
    width: 200px;/*200px*/
    height: 200px;/*200px*/
}

#btnRojo{
    width: 290px;
    height: 170px;
    top: 115px;
    left: 350px;
    background: none;
}

#btnNaranja{
    width: 145px;
    height: 315px;
    top: 330px;
    left: 25px;
    background: none;
}

#btnAzul{
    width: 255px;
    height: 240px;
    top: 345px;
    left: 635px;
    background: none;
}

#btnVerde{
    width: 230px;
    height: 200px;
    top: 355px;
    left: 380px;
    background: none;
}

#btnRosa{
    width: 230px;
    height: 100px;
    top: 340px;
    right: 105px;
    background: none;
}

.boton-casas{
    position: absolute;
    padding: 0;
    background: none;
    border: none;
}

.botones{
    position: absolute;
    right: 0%;
    top: 37%;
    border: none;
}

.boton{
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0;
}

.manito:hover{
    cursor: pointer;
    background: none;
}


#imgNaranja{
    width: 90vw;
    height: 28vw;
    position: absolute;
    top: 240px;
    left: 118px;
}

#imgNaranja2{
    height: 407px;
    position: absolute;
    top: 330px;
    left: 120px;
    border: none;
}

.once{
    animation-duration: 3s;
    animation-delay: 500ms;
}


@media #{$small-and-down} {

}
@media #{$medium-and-up} {
/*/ styles for medium screens and larger*/
}
@media #{$medium-and-down} {

}
@media #{$large-and-up} {
/* styles for large screens and up*/
}
@media #{$extra-large-and-up} {
/* styles for extra large screens and up*/
}


